doctype html
html(lang="en")
	head
		title= page.title
		meta(name="description", content=page.description)
		link(rel="stylesheet",href=cdn+"css/index.css")
	body
		div#canvas
			div#menu-toggle
				span
				span
				span
			div#menu
				if menu && menu.dynamicLinks
					div.dynamic-links
						each link in menu.dynamicLinks
							if link.menu
								a(href=link.url)!=link.menu
							else
								a(href=link.url)!=link.title
				if menu && menu.staticLinks
					div.static-links
						each link in menu.staticLinks
							a(href=link.url,target="_blank")!=link.title
			if page.title
				header
					h1!= page.title
					if page.tagline
						h2!= page.tagline

			if page.content
				main
					ul(class="content")
						each item in page.content
							li(class="type-"+item.type)
								case item.type
									when "img"
										//- div.img(style="background-image:url('"+cdn+item.path+"')")
										img(src=cdn+item.path)
										if item.title
											h3= item.title
									when "txt"
										p= item.text
										if item.title
											h3= item.title
			else
				main
					h4!= "No content found"
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			each file in scripts
				script(src=cdn+"js/"+file)