doctype html
html(lang="en")
	head
		title= page.title
		meta(name="description", content=page.description)
		link(rel="stylesheet",href=cdn+"css/index.css")
	body
		main
			h1= page.title
			ul(class="content")
				each el in page.content
					li(class="type-"+el.type)
						case el.type
							when "img"
								img(src=cdn+el.path)
								h3= el.title
							when "txt"
								p= el.text
								h3= el.title
